{% extends '::base.html.twig' %}

{% block title %} Kudos Login {% endblock %}

{% block body %}
    <div class="login">
        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'form-inline'}}) }}
            <div class="col-md-offset-5 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading separator">
                        <div class="panel-title" style="text-align: center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="form-block">
                                <div class="col-md-12">
                                    <div class="input-group" style="width:100%;">
                                        <span class="input-group-addon ">
                                            <div class="glyphicon glyphicon-user">
                                            </div>
                                        </span>
                                        {{ form_widget(form.username) }}
                                    </div>
                                    {{ form_errors(form.username) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-block">
                                <div class="col-md-12">
                                    <div class="input-group" style="width:100%;">
                                        <span class="input-group-addon ">
                                            <div class="glyphicon glyphicon-lock">
                                            </div>
                                        </span>
                                        {{ form_widget(form.plainPassword) }}
                                    </div>
                                    {{ form_errors(form.plainPassword) }}
                                </div>
                            </div>
                        </div>

                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert-danger">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="form-actions">
                                <div class="col-md-offset-5">
                                    {{ form_widget(form.login) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}