{{ form_start(form, {attr: {novalidate: 'novalidate', class: 'form-inline'}}) }}


<div class="row">
    <div class="form-block">
        <div class="col-md-3">
            {{ form_label(form.name) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.name) }}
            {% if form_errors(form.name) %}
                {{ form_errors(form.name) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-block">
        <div class="col-md-3">
            {{ form_label(form.manager) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.manager) }}
            {% if form_errors(form.manager) %}
                {{ form_errors(form.manager) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-block">
        <div class="col-md-3">
            {{ form_label(form.users) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.users) }}
            {% if form_errors(form.users) %}
                {{ form_errors(form.users) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-actions">
        <div class="col-md-offset-5">
        {{ form_widget(form.confirm) }}
        </div>
    </div>
</div>

{{ form_end(form) }}